@{
    ViewData["Title"] = "Execution Detail";
    var executionId = (Guid)(ViewData["ExecutionId"] ?? Guid.Empty);
}
<h2>Execution Detail</h2>
<pre id="detail-json" data-execution-id="@executionId">Loading...</pre>
<script type="module" src="~/js/admin/executionledger-detail.js" asp-append-version="true"></script>
